<div class="show-banner">

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <main role="main" class="inner cover">
          <h1 class="cover-heading">Cover your page.</h1>
          <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
          </p>
        </main>

      </div>

    </div>

  </div>
</div>

<h1>Listings#show</h1>
<p>Find me in app/views/listings/show.html.erb</p>
