// Specific CSS for your home-page
.jumbotron {
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin-bottom: 0;
  height: 700px;
  background-size: cover;
  background-position: center bottom;
  max-height: 999px;
  position: relative;
  width: 100%;
  border-radius: 0px;
  margin: -70px auto 0;
}

.jumbotron .pizza {
  margin-top: 80px;
}

h1 .display-3 {
  margin-top: 150px
}

#locationsearch {
  width: auto;
  height: 60px;
  border: 0px;
  font-size: 24px;
  border-radius: 5px 0px 0px 5px;
  box-shadow: -2px 1px 32px #00000040;
}

#home-h2 {
  color: white;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 0.01em;
  text-shadow: 0px 0px 32px #11111170;
}

.home-search .btn {
  border-radius: 0px 5px 5px 0px;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  z-index: 1;
  max-width: 40rem;
  // padding-right: 10px;
  // padding-left: 10px;
}

.jumbotron h1 {
  color: white;
  text-shadow: 0px 0px 32px #30303082;
  font-weight: 500;
  font-size: 90px;
}

#home-search {
  padding: 0.67rem 2rem;
  font-size: 24px;
}

.container-jumbotron {
  margin: 70px auto;
}

.details h2 {
  margin-bottom: 15px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #home-search {
    width: 100%;
    border-radius: 3px 3px 3px 3px;
  }
  #locationsearch {
    width: 100%;
    border-radius: 3px 3px 3px 3px;
  }
  .jumbotron {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .my-sm-0 {
    border-radius: 0 4px 4px 0px;
  }
  .jumbotron h1 {
    font-size: 46px;
    font-weight: 400;
  }
}

@media (max-width: 623px) {
  .jumbotron-heading {
    font-size: 4.0rem;
  }
}

// CSS for Expose section
.expose h2, .expose h3 {
  margin: 30px 0 0;
}

.expose .title h2 {
  font-weight: 600;
}

.expose h2 {
  font-size: 2.8em;
}

.expose h3 {
  font-size: 1.825em;
  line-height: 1.4;
  margin: 20px 0 0px;
}

.expose h5 {
  font-size: 1.35em;
  line-height: 1.4em;
  margin-bottom: 50px;
  font-weight: 300;
}

.expose h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
}

.expose p {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 5px;
}

.expose .title,
.card-title {
  color: #333333;
  text-decoration: none;
}

.expose .description {
  color: #9A9A9A;
}

.expose .title {
  margin-top: 30px;
  margin-bottom: 25px;
  min-height: 32px;
}

.section-home {
  padding: 70px 0 120px 0;
  position: relative;
  background-color: #FFFFFF;
}

.expose .section-dark {
  background-color: #151f20;
}

.expose .section-dark {
  position: relative;
}

.expose .card {
  border-radius: 0px;
  background-color: #FFFFFF;
  color: #333333;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  border: 0 none;
}

.expose .card .card-description {
  color: #9A9A9A;
  margin-bottom: 15px;
  margin-top: 15px;
}

.expose .card.card-plain {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}

.expose .card.card-plain .card-body {
  padding-left: 5px;
  padding-right: 5px;
}

.expose .card .card-category {
  color: #9A9A9A;
}

.expose .card .card-body .card-description+.card-footer {
  padding-top: 10px;
}

.expose .card .card-body {
  padding: 20px;
}

.expose .card .card-body .card-title {
  margin: 5px 0 0 0;
}

.expose .card h6 {
  font-size: 12px;
  margin: 0;
}

.expose .card[data-background="image"] {
  background-position: center center;
  background-size: cover;
  text-align: center;
}

.expose .card[data-background] {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

.expose .card[data-background]:after {
  background-color: rgba(0, 0, 0, 0.35);
}

.expose .card.card-plain .card-body {
  margin-top: 60px;
}

@media (max-width: 567px) {
  .expose .card.card-plain {
    text-align: center;
  }
  .expose .card.card-plain .card-body {
    margin-top: 0;
  }
  .expose h6 {
      font-size: 1em;
  }
  .section.expose {
    padding: 15px 0 15px 0,
  }
  .expose .title h2 {
    margin-bottom: 15px;
    font-size: 32px;
  }
  .jumbotron {
    height: 500px;
  }
  .jumbotron .pizza {
    margin-top: 60px;
  }
}

@media (max-width: 409px) {
  .jumbotron .pizza {
    margin-top: 40px;
  }
}











// TODO Video background: get html from http://dev2.slicejack.com/fullscreen-video-demo/index.html

/*! CSS Used from: http://dev2.slicejack.com/fullscreen-video-demo/css/style.css */

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 0 15px;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
      height: 300%;
      top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url(http://dev2.slicejack.com/fullscreen-video-demo/img/videoframe.jpg) center center / cover no-repeat;
  }
  .fullscreen-bg__video {
    display: none;
  }
}
