<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>

<h1>Booking</h1>
<ul>
  <li>Event: <%= @booking.event_sku %></li>
  <li>Amount: <%= humanized_money_with_symbol(@booking.amount) %></li>
<ul>
