<!-- Only displayed on home -->

<!-- <footer class="footer footer-black footer-big">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ml-auto mt-auto mb-auto mr-auto ml-auto">
        <%# image_tag("logo_white.svg", height: "70", alt: "Konarciq Logo") %>
      </div>
      <div class="col-xs-12 col-lg-6 offset-lg-2 ">
        <div class="links ml-auto mr-auto">
          <ul>
            <li>
              <a href="#paper-kit">
                Home
              </a>
            </li>
            <li>
              <a href="#paper-kit">
                Team
              </a>
            </li>
            <li>
              <a href="#paper-kit">
                About
              </a>
            </li>
            <li>
              <a href="#paper-kit">
                Contact
              </a>
            </li>
            <li>
              <a href="#paper-kit">
                We're Hiring!
              </a>
            </li>
          </ul>
          <hr>
          <div class="copyright">
            <div class="pull-left">
              ©
              <script>
                document.write(new Date().getFullYear())
              </script> made with <i class="fa fa-heart heart"></i> in Lund
            </div>
            <div class="pull-right">
              <ul>
                <li>
                  <a href="#paper-kit">
                    Terms
                  </a>
                </li>
                |
                <li>
                  <a href="#paper-kit">
                    Privacy
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
 -->
