<style>
  .ion-android-funnel:before {
    color: white;
  }
  .ion-android-funnel:focus {
    color: white;
  }
  .ion-android-funnel:hover {
    color: white;
  }
  .ion-android-funnel {
    color: white;
  }
</style>

<nav class="navbar navbar-expand-sm navbar-transparent">

  <!-- White logo in the navbar -->
  <%= link_to image_tag("logo_white.svg", alt: "logo", class: 'navbar-brand'), '/' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="ion-android-funnel"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
