<div class="expose guide">
  <div class="container container-skinny">
    <div class="row">
      <div class="col-xs-12 col-lg-6 ml-auto mr-auto">
        <div class="guide-col">
          <h2 class="title guide-h2">Connect with local experts.</h2>
          <h5 class="description">Learn from local legends and let them push you out of your comfort zone, climbing waterfalls and feeling the thrills of new cultures.</h5>
          <%= link_to "Create listing", new_listing_path, class: "btn btn-primary btn-wd btn-lg text-center", style: "margin-bottom: 30px;"%>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6 guide-col-background" style="background-image: radial-gradient(circle, rgba(208, 186, 142, 0.21) 20%, rgba(54, 3, 9, 0.2) 85%, rgba(29, 2, 16, 0.11) 100%),  url(https://images.pexels.com/photos/378153/pexels-photo-378153.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb)"></div>
      <div class="col-xs-12 col-lg-6 guide-col-background" style="background-image: radial-gradient(circle, rgba(208, 186, 142, 0.21) 20%, rgba(54, 3, 9, 0.2) 85%, rgba(29, 2, 16, 0.11) 100%),  url(https://images.pexels.com/photos/378152/pexels-photo-378152.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
    "></div>
      <div class="col-xs-12 col-lg-6 ml-auto mr-auto">
        <div class="guide-col">
          <h2 class="title guide-h2">Seek out your passion.</h2>
          <h5 class="description">Meet locals who share your love for nature, talk to young and old and learn about our wonderous world together. Surprise yourself by trying something totally new.</h5>
          <%= link_to "Create listing", new_listing_path, class: "btn btn-primary btn-wd btn-lg text-center", style: "margin-bottom: 30px;"%>
        </div>
      </div>
    </div>
  </div>
</div>
