<div class="jumbotron-fluid banner">
  <div class="my-auto">
    <div class="container text-center">
      <h1 class="display-3">What do you love?</h1>
      <p class="lead">Do more of it with Konarciq</p>
      <p class="lead">
        <%= link_to "See all", listings_path, class: "btn btn-primary btn-lg", role: "button" %>
        <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a> -->
      </p>
    </div>
  </div>
</div>
