/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: 0px solid white;
  border-radius: 0;
}
.alert-info {
  background: #00C971;
}
.alert-warning {
  background: #FFCD00;
}
