.footer h3,
a {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.footer h3 {
  margin: 30px 0 0;
}

.footer h3 {
  font-size: 2.0em;
  line-height: 1.8;
  margin: 20px 0 0px;
}

.footer .heart {
  color: #EB5E28;
  animation: heathing 1s ease infinite;
}

.footer a {
  color: #51bcda;
}

.footer a:hover,
a:focus {
  color: #2ba9cd;
  text-decoration: none;
}

.footer hr {
  border-color: #F1EAE0;
}

.footer a:focus,
a:active {
  outline: 0;
}

.footer .fa {
  width: 18px;
  text-align: center;
}

.footer {
  background-attachment: fixed;
  position: relative;
  line-height: 20px;
}

.footer .copyright {
  color: #777777;
  padding: 10px 0px;
  font-size: 14px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}

.footer .heart {
  color: #EB5E28;
}

.footer {
  background-color: #FFFFFF;
  line-height: 36px;
}

.footer .links {
  display: inline-block;
}

.footer .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.footer .links ul>li {
  display: inline-block;
  padding-right: 20px;
}

.footer .links ul>li:last-child {
  padding-right: 0px;
}

.footer .links ul a:not(.btn) {
  color: #66615b;
  display: block;
  font-size: 0.9em;
  margin-bottom: 3px;
}

.footer .links ul a:not(.btn):hover,
.footer .links ul a:not(.btn):focus {
  color: #403D39;
}

.footer hr {
  border-color: #DDDDDD;
  border-width: 1px 0 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer .copyright {
  color: #A49E9E;
  font-size: 0.9em;
}

.footer .copyright ul>li {
  padding-right: 0px;
}

.footer-black {
  background-color: #252422;
  color: #DDDDDD;
}

.footer-black .links ul a:not(.btn) {
  color: #A49E9E;
}

.footer-black .links ul a:not(.btn):hover,
.footer-black .links ul a:not(.btn):focus {
  color: #F1EAE0;
}

.footer-black .copyright {
  color: #66615b;
}

.footer-black .copyright ul>li a:not(.btn) {
  color: #66615b;
}

.footer-black hr {
  border-color: #66615b;
}

.footer-big {
  padding: 30px 0;
}

.footer-big hr {
    margin-top: 20px;
}

.footer-big .copyright {
    margin: 10px 0px 20px;
}

@media screen and (max-width: 374px) {
    .footer.footer-big .copyright .pull-left,
    .footer.footer-big .copyright .pull-right {
        float: none!important;
    }
}

@keyframes heathing {
  0% {
      transform: scale(0.75);
  }
  20% {
      transform: scale(1);
  }
  40% {
      transform: scale(0.75);
  }
  60% {
      transform: scale(1);
  }
  80% {
      transform: scale(0.75);
  }
  100% {
      transform: scale(0.75);
  }
}
