.nav-img-circle {
  margin-bottom: 0px;
  padding: 0px;
  border-radius: 50%!important;
  max-width: 100%;
  width: 40px;
  height: 40px;
}

.navbar {
  box-shadow: 0px 2px 32px rgba(0, 0, 0, 0.05);
}

.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
}

.navbar-brand {
  padding-top: 3px;
  padding-bottom: 0;
  height: 46px;
}

.mobile-search-form {
  display: none;
}

@media (max-width: 567px) {
  .mobile-search-form {
    display: inline;
  }
}

.navbar-light .navbar-toggler {
  color: $gray-600;
  border: 0;
}

.ion-android-funnel:before {
  font-size: 29px;
}
