.index-content {
  display: flex;
}

#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  right: 0 !important;
}

// Added margin so the cards don't stick to the sides
.profile-card-link {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.profile-cards {
  margin: 30px 15px;
  width: 100%;
}

// The CSS for each card
.profile-card {
  box-shadow: 0 6px 32px rgba(0,0,0,0.15);
  color: #333333;
  border-radius: 5px;
  text-align: center;
  margin: 0 0 35px 0;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
  border: none;
}

// The CSS for each card when
.profile-card:hover {
  box-shadow: 0 13px 42px rgba(0,0,0,0.25);
  transform: scale(1.03, 1.03);
}

.profile-card-avatar {
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
  margin: -50px auto 0;
  display: block;
  border: 4px solid white;
  box-shadow: 2px 3px 8px rgba(0,0,0,0.15);
}

// The cover photo on the top of the card
.profile-card-cover {
  height: 120px;
  background-position: center center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

// Styling the profile card image so it's 100% wide
.profile-card img {
  max-width: 100%;
  height: auto;
}

.profile-card-body {
  padding: 10px 20px 20px 20px;
}

.profile-card-first-name {
  margin: 5px 0 10px 0;
}

.profile-card-description {
  color: #9A9A9A;
  font-weight: 300;
  margin: 15px 0 10px 0;
}

.profile-card-interests {
  font-size: 14px;
  margin-bottom: 5px 0 5px 0;
}

.btn-primary:hover {
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 575px) {
  #map {
    max-width: 0;
  }
}
