.show-title {
  font-size: 3.6em;
  font-weight: 300;
}

.show-caption {
  font-size: 1.825em;
  line-height: 1.4;
  margin: 0;
  font-weight: 300;
}

.show-p {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 5px;
  margin-left: 25px;
  margin-right: 25px;
}

.h2-title {
  color: #333;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 25px;
  min-height: 32px;
  font-size: 2.8em;
  font-weight: 100px;
}

.media h6 {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;
}

.show-img-circle {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 4px;
  width: 150px;
  border-radius: 50% !important;
  max-width: 50%;
  margin-top: 20px;
  width: 120px;
  height: 120px;
}

.media-object {
  vertical-align: middle;
  border-style: none;
}

.media p {
  font-size: 15px;
  line-height: 1.5em;
  margin-bottom: 5px;
}

.text-muted {
  font-size: 1.35em;
  line-height: 1.4em;
  color: #ddd;
}

.title.text-center {
  margin-bottom: 50px;
}

.filter {
  transition: all 150ms linear;
}

.form-control:-ms-input-placeholder, .form-control::-webkit-input-placeholder, .form-control:-moz-placeholder, .form-control::-moz-placeholder {
  color: #d2d2d2;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #66615b;
  font-size: 14px;
  transition: background-color 0.3s ease 0s;
  padding-right: 0 !important;
  padding: 7px 12px;
  height: 40px;
  box-shadow: none;
}

.form-control:focus {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: none;
  outline: 0 !important;
}

.show-avatar {
  // width: 200px;
  border: 4px solid white;
}

textarea.form-control {
  padding: 10px 18px;
  height: auto;
}

.wrapper {
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  left: 0;
  background-color: white;
  position: relative;
  z-index: 1;
}

.page-header {
  background-color: #b2afab;
  background-position: center center;
  background-size: cover;
  min-height: 700px;
  max-height: 999px;
  overflow: hidden;
  position: relative;
  width: 100%;
  // z-index: 1;
}

.page-header .content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 100%;
}

.page-header .motto {
  color: #fff;
  text-align: center;
  z-index: 2;
  position: relative;
}

.page-header .filter::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.media {
  border-bottom: 1px solid rgba(164, 158, 147, 0.22);
  padding-bottom: 30px;
  margin-top: 30px;
}

.media .avatar {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
  border: 3px solid #fff;
}

.media .avatar img {
  width: 100%;
}

.media .media-heading {
  color: #403d39;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 5px;
}

.media .media-footer {
  margin-top: 20px;
}

.media-post {
  color: #555;
  border: 0;
}

.media-post textarea {
  margin: 0 0 10px;
  font-size: 15px;
}

.media-area .media:last-child {
  border: 0;
}

.media-post .author {
  width: 20%;
  float: none !important;
  display: block;
  margin: 0 auto 10px;
}

.media-post .media-body {
  float: left;
  display: inline-block;
  width: 100%;
}

.fa {
  width: 18px;
  text-align: center;
}

.section {
  padding: 70px 0;
  position: relative;
}

.section-chevron {
  padding: 50px 0px 70px 0px;
  position: relative;
}

.section-gray {
  background-color: #eee;
  position: relative;
}


.show-img-circle {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 50% !important;
  max-width: 100%;
}

.show-card {
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #333;
  position: relative;
  z-index: 1;
  border: 0 none;
  transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}

.show-card.page-carousel:hover {
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  transform: none;
}

.carousel-control {
  background-color: #f5593d;
  border-radius: 50%;
  opacity: 1;
  text-shadow: none;
}

.carousel-control.left {
  height: 30px;
  top: 48%;
  width: 30px;
  left: 20px;
}

.carousel-control.right {
  height: 30px;
  right: 20px;
  top: 48%;
  width: 30px;
}

.carousel-control .fa {
  display: inline-block;
  z-index: 5;
}

.carousel-control-prev .fa {
  font-size: 26px;
  margin: 2px;
  padding-right: 3px;
}

.carousel-control-next .fa {
  font-size: 26px;
  margin: 2px;
  padding-left: 3px;
}

.page-carousel {
  border-radius: 12px !important;
  border: none !important;
}

.carousel-inner .carousel-item img {
  border-radius: 12px;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5);
  height: 400px;
  width: 100%;
}

// Change the color of the left and right button
.carousel-control {
  background-color: #f5593d;
  border-radius: 50%;
  opacity: 1;
  text-shadow: none;
}

.carousel-indicators {
  bottom: 0px;
}

.carousel-indicators li {
  background-color: #fff;
  border: 0 none;
}

.carousel-indicators .active {
  background-color: #f5593d;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 567px) {
  .page-header {
    min-height: 540px;
  }
  .show-avatar {
    width: 150px;
    border: 2px solid white;
  }
  .show-title {
    font-size: 37px;;
    font-weight: 300;
  }
  .show-caption {
    font-size: 24px;
    line-height: 1.4;
    margin: 0;
    font-weight: 300;
  }
  .show-img-circle {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 767px) {
  .media p {
    position: relative;
  }
}

.spacious, .img-no-padding {
  padding: 0px;
}

.embed-responsive {
  box-shadow: 0px 0px 32px 0px #00000082;
}


@media (max-width: 991px) {
  .wrapper {
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    left: 0;
    background-color: white;
  }
}

.arrow a {
  text-decoration: none;
}

.arrow {
  text-align: center;
  margin: 8% 0;
}

.bounce {
  animation: bounce 2s infinite;
  font-size: 40px;
  margin: -50px auto 0;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
